<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Faculdade Anhanguera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="https://pin.it/4s5qytnGQ" alt="Logo Anhanguera" class="logo">
            <h1>Faculdade Anhanguera</h1>
            <p>Curso: Computação em Nuvem</p>
            <p>Aluno: Rafael</p>
        </div>
        <div class="right">
            <img src="{{ url_for('static', filename='alunos.jpg') }}" alt="Alunos Anhanguera" class="side-image">
        </div>
    </div>
</body>
</html>

