<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Faculdade Anhanguera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="https://static.wixstatic.com/media/3c697e_e2fbad382bee4459941cbb8aa4c2cb45~mv2.png/v1/fill/w_560,h_150,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/logos-anhanguera.png" alt="Logo Anhanguera" class="logo">
            <h1>Faculdade Anhanguera</h1>
            <p>Curso: Computação em Nuvem</p>
            <p>Aluno: Rafael</p>
        </div>
        <div class="right">
            <img src="https://img.freepik.com/fotos-gratis/jovens-adultos-se-encontrando-para-estudar_23-2149064554.jpg" alt="Alunos Anhanguera" class="side-image">
        </div>
    </div>
</body>
</html>

